#buttonConferma {
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-background-color: white;
}

.label{
    -fx-font-weight: bold;
    -fx-font-size: 30;
}

#passwordField1 {
    -fx-background-radius: 10px;
    -fx-border-width: 1.3px;
    -fx-border-radius: 10px;
    -fx-border-color: #000000;
}

#passwordField2 {
    -fx-background-radius: 10px;
    -fx-border-width: 1.3px;
    -fx-border-radius: 10px;
    -fx-border-color: #000000;
}

#passwordField3 {
    -fx-background-radius: 10px;
    -fx-border-width: 1.3px;
    -fx-border-radius: 10px;
    -fx-border-color: #000000;
}

#textField1 {
    -fx-background-radius: 10px;
    -fx-border-width: 1.3px;
    -fx-border-radius: 10px;
    -fx-border-color: #000000;
}

#textField2 {
    -fx-background-radius: 10px;
    -fx-border-width: 1.3px;
    -fx-border-radius: 10px;
    -fx-border-color: #000000;
}

#textField3 {
    -fx-background-radius: 10px;
    -fx-border-width: 1.3px;
    -fx-border-radius: 10px;
    -fx-border-color: #000000;
}